* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    background: #0a0a0a;
    color: #fff;
}

.secao {
    padding: 2rem;
}

h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10rem;
    padding: 0.5rem;

}

ul {
    display: flex;
    margin: 3rem 0;
    gap: 5rem;
    list-style: none;
    padding: 1rem;
}

li {
    font-size: 1.5rem;

}

a {
    text-decoration: none;
    color: #fff;
}

.principal {
    display: flex;
    align-items: center;
    min-height: 30dvh;
    flex-direction: column;
    margin-top: 2rem;
}

.principal h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.foto-jader {
    width: 200px;
    height: 200px;
    border-radius: 30px;

}

.principal h1 span {
    color: #4d7cfe;

}

.principal p {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: #bbb;
}

.botao {
    padding: 1rem 4rem;
    background-color: #4d7cfe;
    color: #fff;
    font-weight: bold;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    border: none;
    transition: transform 0.3s, background-color 0.3s;

}



.botao:hover {
    background-color: #1b3b94;
    transform: translatey(-10px);

}


.caixa-projetos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
}

.card-projetos {
    background-color: #0a0a0a;
    overflow: hidden;
    border: 2px solid #bbb;
    padding: 1rem;
    border-radius: 1rem;
    transition: transform 0.3s, background-color 0.3s;
    cursor: pointer;

}

.card-projetos:hover {

    transform: translatey(-10px);
}

.logo-projeto {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 20px;
    border-radius: 1rem;
}

.info-projeto h3 {
    font-size: 2rem;
    text-align: center;
}

.info-projeto p {
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.info-projeto a {
    display: grid;
    align-items: center;
    color: #4d7cfe;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    cursor: pointer;

}

.info-projeto a:hover {
    color: #1b3b94;
}

.conteudo-sobre {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-top: 2rem;
}

.img-sobre {
    height: 300px;
    border-radius: 3rem;
}

.info-sobre p {
    font-size: 1.5rem;
    color: #bbb;
    margin-bottom: 1rem;
   
}

.contatos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    font-size: 2rem;

}

.link-contato {

    padding: 1rem 2rem;
    border-radius: 1rem;
    gap: 2rem;
    background-color: #4d7cfe;
    color: #fff;
    transition: transform 0.3s, background-color 0.3s;
}

.link-contato:hover {
    background-color: #1b3b94;
    transform: translatey(-10px);
}

.rodape {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    color: #bbb;
    font-size: 2rem;
    height: 10rem;
    padding: 2rem;
}

img {
    max-width: 100%;
    height: auto;
}
@media (max-width:700px) {
    header {
        
        margin: 10px;
    }

    ul {
        gap: 1rem;
    }

    .principal {
        padding: 1.3rem;
    }

    .principal p {
        font-size: 1.5rem;
    }

    .conteudo-sobre {
        grid-template-columns: 1fr;
        gap: 2rem;
        display: grid;
        align-items: center;
        padding: 2rem;
    }

    .rodape {
        font-size: 1.2rem;
    }
}

